/* Header */
header {
    background-color: #2C2E31;
    position: relative;
    height: 40px;
    z-index: 100;
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
}

header img {
    height: 30px;
	padding: 0px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main Container */
main {
    background-color:#2C2E31;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

/* Toolbar */
#toolbar {
	background-color: #2C2E31;
    height: 40px;
    width: 50%;
}

section {
    position: absolute;
    top: 10;
    height: 95.8%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    background-color: #232323;
}

#waveform-body {
    background-color: black;
    float: right;
    height: 100%;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow: auto;
}

/* Editor */
#editor {
    top: 0;
    bottom: 0;
    height: 75%;
    width: 50%;
    overflow: auto;
	font-family: monospace;
}

footer {
    position: absolute;
    bottom: 0;
    left: 47px;
    height: 25%;
    width: 95%;
    overflow: auto;
    background: #2F4F4F;
}

#console {
    display: block;
    color: white;
    align-content: space-around;
    padding-left: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.js-loading-overlay {
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.full-screen {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.half-screen {
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

.ace_gutter-cell{
    cursor: pointer;
}

.ace_gutter.ace_breakpoint:before{
    content: '\2666';
    color: red;
    float: left;
}

.ace_gutter-cell.ace_breakpoint{
    width: 5px;
    height: 5px;
    background: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.red {
    color: red;
}

.white {
    color: white;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
