body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main Container */
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

/* Editor */
section {
    position: absolute;
    top: 10;
    height: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
}

#toolbar {
	background-color: #2C2E31;
    height: 35px;
}

section > #editor {
    position: absolute;
    top: 35px;
    bottom: 0;
    width: 100%;
	font-family: monospace;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* Header */
header {
    position: relative;
    height: 40px;
    z-index: 100;
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
}

header img {
    height: 30px;
	padding: 5px;
    transition: transform 0.3s ease-in-out;
}

header > div {
    position: relative;
    display: inline-block;
    word-wrap: nowrap;
    overflow: visible;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

/*header > div > span {
    padding: 0.75em 2em;
    margin: 0;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    top: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    vertical-align: middle;
}*/

header > div > div {
    display: none;
    width: 200%;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
}

header > div:hover > div {
    display: block;
}

header > div > div > input {
    display: none;
}

header > div > div > a, header > div > div > label {
    display: block;
    background: transparent;
    padding: 1em;
    font-size: 75%;
    transition: background-color 0.5s ease, color 0.5s ease, 0.5s ease padding-left;
    text-decoration: none;
    cursor: pointer;
}

header > div > div > a:hover, header > div > div > label:hover {
    padding-left: 2em;
}

.toolbar-button {
    margin-top: 5px;
    height: 25px;
    color: white;
    text-align: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
