body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main Container */
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

/* Editor */
section {
    position: absolute;
    top: 10;
    height: 100%;
    left: 0;
    width: 50%;
    box-sizing: border-box;
    overflow: visible;
}

#toolbar {
	background-color: #2C2E31;
}

section > #editor {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
	font-family: monospace;
}

/* Section Side */
section > select {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 0.5em;
    z-index: 2;
    margin-right: 16px;
}

/* Side */
main > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    box-sizing: border-box;
    padding-left: 4px;
    font-size: 75%;
	resize: vertical;
	overflow: auto;
}

main > aside span {
    margin: 4px 3%;
}

/* Resizers */
.grabberY {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    cursor: ns-resize;
    z-index: 40;
}

/* Header */
header {
    position: relative;
    height: 40px;
    z-index: 100;
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
}

header img {
    height: 30px;
	padding: 5px;
    transition: transform 0.3s ease-in-out;
}

/* Tool Selector */
header > select {
    float: right;
    height: 100%;
    padding: 0 1em;
    border: none;
    color: #eee;
}

header > div {
    position: relative;
    display: inline-block;
    word-wrap: nowrap;
    overflow: visible;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

header > div > span {
    padding: 0.75em 2em;
    margin: 0;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    top: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    vertical-align: middle;
}

header > div > div {
    display: none;
    width: 200%;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
}

header > div > div .menuSection {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

header > div:hover > div {
    display: block;
}

header > div > div > input {
    display: none;
}

header > div > div > a, header > div > div > label {
    display: block;
    background: transparent;
    padding: 1em;
    font-size: 75%;
    transition: background-color 0.5s ease, color 0.5s ease, 0.5s ease padding-left;
    text-decoration: none;
    cursor: pointer;
}

header > div > div > a:hover, header > div > div > label:hover {
    padding-left: 2em;
}

.tooltip {
	padding: 8px 12px;
	position: absolute;
	top: 40px;
	left: 50%;
	width: 104px;
	z-index: 88;
	box-sizing: border-box;
	margin-left: -56px;
	text-align: center;
	font-size: 12px;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
    transition: opacity 1s;
}

a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip::before {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -2px;
    border-width: 5px;
    border-style: solid;
}
